{{#> layout userLoggedIn=userSession}}
  <div class="container">
      {{!-- <main>
      </main> --}}
    <section>
      <div class="project-post">
        <div class="post-header">
          <h2>MY PROJECT</h2>
        </div>
        {{#if userLoggedIn.id}}
        <div class="post-add-button">
          <a href="/project/add">Tambah Projek</a>
        </div>
        {{/if}}
        {{#if messages.error}}
          <div class="alert alert-error" role="alert">
              {{messages.error}}
          </div>
        {{/if}}
        {{#if messages.success}}
          <div class="alert alert-success" role="alert">
              {{messages.success}}
          </div>
        {{/if}}
        <div class="main-post" id="post-main">
          {{#each data}}
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img src="{{this.image}}" alt="title" />
              </a>
            </div>
            <div class="post-title">
              <a href="#">
                <h2><a href="/project/{{this.id}}/detail"`>{{this.title}}</a></h2>
              </a>
            </div>
            <div class="post-time">
              <span>Posted at {{timePost this.createdAt}}</span> ||
              <span>Duration : {{getRelativeTime this.start_date this.end_date}}</span>
            </div>
            <div class="post-summary">
              <p>
                {{summaryDesc this.description}}
              </p>
            </div>
            <div class="post-category">
              <span>js</span>
              <span>nextjs</span>
              <span>nodejs</span>
            </div>
            {{#if ../userLoggedIn.id}}
            <div class="post-button">
              <a href="/project/{{this.id}}/edit" class="button-edit">edit</a>
              <a href="/project/{{this.id}}/detail" class="button-detail">detail</a>
              <form action="/project/{{this.id}}?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{this.id}}"/>
                <input type="hidden" name="image" value="{{this.image}}"/>
                <button type="submit" class="button-delete" onclick="return confirm('Anda yakin ingin menghapus ini?')">delete</button>
              </form>
            </div>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
    </section>
    {{!-- <script src="./js/script.js" type="text/javascript"></script> --}}
{{/layout}}